server {
  listen 9009;
  server_name _;

  root /srv/wiki/public;
  index index.html;

  location / {
    try_files $uri $uri/ $uri.html =404;
  }
}

server {
  listen 9010;
  server_name _;

  auth_basic "Private Wiki";
  auth_basic_user_file /etc/nginx/.wiki-private.htpasswd;

  root /srv/wiki/private;
  index index.html;

  location / {
    try_files $uri $uri/ $uri.html =404;
  }
}
