WIKI_VAULT_DIR=/srv/wiki/vault
WIKI_QUARTZ_DIR=/srv/wiki/quartz
WIKI_PUBLIC_DIR=/srv/wiki/public
WIKI_BUILD_TMP_DIR=/srv/wiki/public.next
WIKI_PRIVATE_DIR=/srv/wiki/private
WIKI_PRIVATE_BUILD_TMP_DIR=/srv/wiki/private.next
WIKI_BUILD_STATE_DIR=/srv/wiki/.wiki-build-state
WIKI_GIT_REMOTE=origin
WIKI_GIT_BRANCH=main
